# Exclude raw image screenshots folder
Chrome manifest restrictions images/

# Local downloaded portable tools & config
tools/
dpclocker_config.ini
*.tmp

# Temporary OS files
.DS_Store
Thumbs.db

# Build temp files
DpcLocker/build/obj/
testdpc_source/.gradle/
testdpc_source/build/
testdpc_source/app/build/

# Ignore images and media
*.jpg
*.jpeg
*.png
*.webp
*.bmp
models/
temp_*
windows_security_log.json
